
            <!--nav class="menu"-->
              <ul>
                <a href="/SocialHealth/components/dashboard/"> 
                  <div class="elemento">
                    <img class="icon" src="/SocialHealth/assets/icons/House-04.png"> 
                    <li>Inicio</li>
                  </div>
                </a>
                <a href="/SocialHealth/components/chat/"> 
                  <div class="elemento">
                    <img class="icon" src="/SocialHealth/assets/icons/Message-04-WF.png"> 
                    <li>Chat</li>
                  </div>
                </a>
                <a href="citas_pro.php">
                  <div class="elemento">
                    <img src="/SocialHealth/assets/icons/Calendar1-WF.png" class="icon">
                    <li>Citas</li>
                  </div>
                </a>
                <a href="pacientes.php">
                  <div class="elemento">
                    <img src="/SocialHealth/assets/icons/User Save -01-WF.png" class="icon">
                    <li>Pacientes</li>
                  </div>
                </a>
                <a href="historial_pro.php">
                  <div class="elemento">
                    <img src="/SocialHealth/assets/icons/To Do List-WF.png" alt="" class="icon">
                    <li>Historial</li>
                  </div>
                </a>
                <a href="noprogramado.html">
                  <div class="elemento">
                    <img src="/SocialHealth/assets/icons/Identity-WF.png" alt="" class="icon">
                    <li>Seguros</li>
                  </div>
                </a>
                <a href="/SocialHealth/components/profile/micuenta_Pro.php">
                  <div class="elemento">
                    <img src="/SocialHealth/assets/icons/Settings-WF.png" alt="" class="icon">
                    <li>Ajustes</li>
                  </div>
                </a>
              </ul>
             <!--/nav-->