            <!--nav class="menu"-->
            <ul>
                <a href="/SocialHealth/components/dashboard/"> 
                  <div class="elemento">
                    <button class="iconbtn"><i class="fa fa-home"></i></button>
                    <!-- <img class="icon" src="/SocialHealth/assets/icons/House-04.png">  -->
                    <li>Inicio</li>
                  </div>
                </a>
                <a href="/SocialHealth/components/chat/"> 
                  <div class="elemento">
                    <button class="iconbtn"><i class="fas fa-comments"></i></button>
                    <!-- <img class="icon" src="/SocialHealth/assets/icons/Message-04-WF.png">  -->
                    <li>Chat</li>
                  </div>
                </a>
                <a href="/SocialHealth/components/appointment/">
                  <div class="elemento">
                      <button class="iconbtn"><i class="fas fa-calendar-check"></i></button>
                      <!-- <img src="/SocialHealth/assets/icons/Calendar1-WF.png" class="icon"> -->
                    <li>Citas</li>
                  </div>
                </a>
                <a href="/SocialHealth/components/people/">
                  <div class="elemento">
                      <button class="iconbtn"><i class="fas fa-user"></i></i></button>
                    <!-- <img src="/SocialHealth/assets/icons/User Save -01-WF.png" class="icon"> -->
                    <li>Mis Doctores</li>
                  </div>
                </a>
                <a href="/SocialHealth/components/record/">
                  <div class="elemento">
                      <button class="iconbtn"><i class="fas fa-list-ul"></i></button>
                    <!-- <img src="/SocialHealth/assets/icons/To Do List-WF.png" alt="" class="icon"> -->
                    <li>Historial</li>
                  </div>
                </a>
                <a href="/SocialHealth/components/settings/">
                  <div class="elemento">
                    <button class="iconbtn"><i class="fas fa-cog"></i></button>
                    <!-- <img src="/SocialHealth/assets/icons/Settings-WF.png" alt="" class="icon"> -->
                    <li>Ajustes</li>
                  </div>
                </a>
              </ul>
            <!--/nav-->