.container{
    text-align: center;
    background-color: white;
    /*border-radius: 5px;*/
    /*border:1px solid #5e5e5e;*/
    padding-bottom: 10px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.508);
    margin-left: auto;
    margin-right: auto;
}
.container .table-responsive{
    margin-left: auto;
    margin-right: auto;
}
h4{
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-cmj {
	background: #00a89e;
    color: white;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.233);
    /*
	font-weight: bold;
	border: 0 none;
	border-radius: 1px;*/
}/*
.form-control{
	border: 0 none;
	border-radius: 3px;
	/*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
}

.cuadro{
	
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	border: 1px solid #ccc;
	border-radius: 3px;
	/*margin-bottom: 10px;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
	margin: 0px auto;
	text-align: center;
	position: relative;
}
.modal1 select{
height: 51px;
}*/

.modal1 input, .modal1 textarea ,.modal1 select,.mitabla_filter input{
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
.portada{
    position: inherit;
    border:2px solid #5e5e5e;
    width: 100%;
    height: 300px;
}
.perfil{
    z-index: 5 ;
    border:5px solid #5e5e5e;
    width: 200px;
    height: 200px;
}
#mitabla{
    border: #00A89E;
}
.dt-buttons .dt-button{
    background: #00A89E;
    color: white;
}
button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled){
    background: rgb(0, 114, 107);
}
button.dt-button:active:not(.disabled), button.dt-button.active:not(.disabled), div.dt-button:active:not(.disabled), div.dt-button.active:not(.disabled), a.dt-button:active:not(.disabled), a.dt-button.active:not(.disabled){
    background: rgb(0, 114, 107);
}
.dt-buttons .dt-button:hover{
    background: #00A89E;
    color: white;
}
#mitabla_wrapper{
    position: inherit;
    
}
.buttons-html5{
    background-color: #00A89E;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.233);
}
.tabla thead{
    background-color:white;
    color: #00A89E;
}
.tabla a{
    text-decoration: none;
    color: #2C3E50;
}
.menu a{
    text-decoration: none;
    color:white;
}