*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a:link 
{ 
text-decoration:none; 
} 
a:hover 
{ 
text-decoration:none; 
} 

main{
    width: 100%;
    height: auto;
    background: #34495E;
    position: absolute;
}

.content-all{
    width: 100%;
    max-width: 1000px;
    background: #17A086;
    margin: auto;
    margin-top: 80px;
    border: 2px solid white;
}

header{
    z-index: 20;
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    background: #00A89E;
}
body {
    background: url('../../assets/images/3.jpg');
    background-attachment: fixed;
    }
img{
    width: 100%;
}
#check{
    display: none;
}

#check:checked ~ .menu{
    width: 200px;
}
.container-fluid{
    /*padding-left: 70px;*/
}
.username{
    display: inline;
    color: #fff;
}
.profile-pic{
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    /*border:3px solid #4e4d4d;*/
}
.menu:hover{
    width: 200px;
}

.menu{
    z-index: 20;
    position: fixed;
    top: 70px;
    width: 70px;
    /*display: block;*/
    height: 100vh;
    background: #2D3E50;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);
    overflow: hidden;
    box-shadow: rgb(0, 0, 0);
    
}
.c-menu .card{
    background-color: #2D3E50;
    list-style: none;
}
.c-menu a{
    color: white;
    text-decoration:none; 
}
.c-menu a:hover{
    color: white;
    text-decoration:none; 
}
.c-menu li{
    list-style: none;
    /*padding: 16px;*/
    width: 100%;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    display:inline;
}
.c-menu div:hover:not(.card){
    background: rgba(0,0,0,0.2);

}
.c-menu .elemento{
    padding: 5px;
}
.general{
    position: fixed;
    z-index: 20;
}
.menu .elemento{
    display: block;
    list-style: none;
    padding: 16px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    width: 400px;
}
.menu li{
    list-style: none;
    padding: 16px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    display:inline;
}

.menu div:hover{
    background: rgba(0,0,0,0.2);

}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #00A89E;
}










