
body{
    
    background-image: url('./3.jpg');
}
.nav {
    color: #fff;
    background: #2D3E50;
    height: 100vh;
    transition: all 500ms cubic-bezier(1,0,0,1);
    overflow: hidden;
}
.username{
    display: inline;
    color: #fff;
}
.profile-pic{
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.nav-title{
    display: none;
}
.menu:hover{
    width: 200px;
}
.menu:hover ~ .nav-link  .nav-title{
    color: #fff;
    display: inline;
}
.icon {
    width: 40px;
    height: 40px;
    display: inline;
}
.menu{
    position:  fixed;
    width: 70px;
    max-width: 400px;
    height: 100vh;
    background: #2D3E50;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);
    overflow: hidden;
    box-shadow: rgb(0, 0, 0);
    
}
.contenido{
    margin-left: 5px;
    padding-left: 75px;
    width: 100%;
    height: 100%;
    background-color: #fff;
}


.container-fluid{
    padding: 0 0 ;
}
.nav a{
    color:white;
}
.nav-link2{
    
    padding: 16px;
}
.nav-link2:hover{
    background: rgba(0,0,0,0.2);
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    border: 0px;
    background-color:  rgba(0, 0, 0, 0.316);
}

.nav-pills .nav-link.active, .show > .nav-pills .nav-link {
    color: #fff;
    border: 0px;
    background-color:  rgba(0, 0, 0, 0.316);
}

