
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SocialHealth</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link rel="stylesheet" href="/SocialHealth/components/register/css/style.css">
    <style>
        .opcion-active {
            box-shadow: 0 0 5px 1px rgb(68, 224, 185);
        }
    </style>
</head>
<body>

    <div>
    <form name="formRegistro" id="msform" class=""enctype="multipart/form-data" autocomplete="off">
            <!-- progressbar -->
            <div class="progressbars">
                <ul id="progressbar">
                    <li class="active">Cuenta</li>
                    <li>Tipo de cuenta</li>
                    <li>Datos personales</li>
                </ul>
            </div>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Crea tu cuenta</h2>
                <h3 class="fs-subtitle">Paso 1</h3>
                <input class="form-control" type="text" name="email"  placeholder="Email" required />
                <div style="display:none;" id="alertEmail" class="invalid-feedback">
                        Ya existe una cuenta con este correo!
                </div>
                <input class="form-control" type="password" name="password"  placeholder="Contraseña" required />
                <input class="form-control" type="password" name="passwordConf"  placeholder="Confirmar Contraseña" required />
                <div style="display:none;" id="alertPassword" class="invalid-feedback">
                        Las Contraseñas no coinciden
                </div>
                <a href="/SocialHealth/components/login/"class="a">Iniciar Sesion</a>
                <input type="button" name="next"  class="next action-button btn btn-sm" value="Siguiente" required />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Tipo de cuenta</h2>
                <h3 class="fs-subtitle">Elije uno</h3>
                <div class="form-group">
                    <div class="row">
                        <div id="opt1" class="col">
                            <label class="opt1"><img class="opcion" src="/SocialHealth/assets/images/paciente.png" alt="">
                                <input style="display:none;" type="radio" name="tipo" id="tipo1"value="1"  ><h3 class="fs-subtitle"style="display: inline;">Paciente</h3>
                            </label>
                        </div>
                        <div id="opt2" class="col">
                            <label class="opt2"><img class="opcion" src="/SocialHealth/assets/images/doctor.png" alt="">
                                <input style="display:none;" type="radio" name="tipo" id="tipo2"value="2"  ><h3 class="fs-subtitle"style="display: inline;">Odontologo</h3>
                            </label>
                        </div>
                    </div>
                </div>
                <input type="button" name="previous" class="previous action-button" value="Atras" />
                <input type="button" name="next" class="next action-button" value="Siguiente" />
            </fieldset>

            <fieldset>
                <h2 class="fs-title">Datos personales</h2>
                <h3 class="fs-subtitle">Sube una foto</h3>
                <label for="upload"><img id="image" class="profile" src="/SocialHealth/assets/images/perfil.jpg" alt="Selecciona una foto"></label>
                <input class="upload" id="upload" type="file" name="upload" >
                <input class="form-control" type="text" name="nombre" placeholder="Nombre" required />
                <input class="form-control" type="text" name="apellido" placeholder="Apellido" required />
                <input class="form-control" type="text" name="usuario" placeholder="Username"/>
                <div style="margin-top: 10px;overflow: hidden;padding-left: 0px;" class="g-recaptcha col-md-9" data-sitekey="6Lcdn2EUAAAAAN_-AvR4IYjwioCEYMTwqevoQOjO"></div>
                <input type="button" name="previous" class="previous btn btn-sm action-button" value="Atras" />
                <button id="btn-signup" type="submit" class="action-button btn btn-info">Registrar</button> 
            </fieldset>
        </form>
        <div class="row">
            <div class="col"></div>
            <div class="col">
            </div>
            <div class="col"></div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
        let errors=true;
        let Form = formRegistro;
        let email='';
        //validacion formulario
        Form.email.addEventListener('change',()=>{
            var parametros = {
                email : Form.email.value
            };
            $.ajax({
                url : './request/checkEmail.php',
                data : parametros,
                type : 'GET',
                success : function(res) {
                console.log(res);
                if(res=="Disponible"){
                    Form.email.className="form-control is-valid";
                    document.getElementById("alertEmail").style="display:none";
                    errors=false;
                }else{
                    Form.email.className="form-control is-invalid";
                    document.getElementById("alertEmail").style="display:block";
                    errors=true;
                }
                },
                error : function(xhr, status) {
                    alert('Disculpe, existió un problema');
                },
                complete : function(xhr, status) {
                    //console.log('Petición realizada');
                }
            });
        });
        //contrasenas iguales
        Form.passwordConf.addEventListener('change',()=>{
            if (Form.passwordConf.value!=Form.password.value){
                console.log("Son diferentes");
                Form.passwordConf.className="form-control is-invalid";
                Form.password.className="form-control is-invalid";
                document.getElementById("alertPassword").style="display:block";
                errors=true;
            }else{
                console.log("Son iguales")
                Form.passwordConf.className="form-control";
                Form.password.className="form-control";
                document.getElementById("alertPassword").style="display:none";
                errors=false;
            }
        });
        let opt1 = document.getElementById('opt1');
        let opt2 = document.getElementById('opt2');
        opt1.addEventListener('click',()=>{
            opt1.children[0].children[0].className="opcion opcion-active";
            opt2.children[0].children[0].className="opcion";
        });
        opt2.addEventListener('click',()=>{
            opt2.children[0].children[0].className="opcion opcion-active";
            opt1.children[0].children[0].className="opcion";
        });
              function archivo(evt) {
                  var files = evt.target.files; // FileList object
             
                  // Obtenemos la imagen del campo "file".
                  for (var i = 0, f; f = files[i]; i++) {
                    //Solo admitimos imágenes.
                    if (!f.type.match('image.*')) {
                        continue;
                    }
             
                    var reader = new FileReader();
             
                    reader.onload = (function(theFile) {
                        return function(e) {
                          // Insertamos la imagen
                        
                        document.getElementById("image").src = e.target.result;
                        };
                    })(f);
             
                    reader.readAsDataURL(f);
                  }
              }
              document.getElementById('upload').addEventListener('change', archivo, false);
      </script>
        <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script>
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches

        $(".next").click(function(){
            if(!errors){
                if(animating) return false;
                animating = true;
                
                current_fs = $(this).parent();
                next_fs = $(this).parent().next();
                
                //activate next step on progressbar using the index of next_fs
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
                
                //show the next fieldset
                next_fs.show(); 
                //hide the current fieldset with style
                current_fs.animate({opacity: 0}, {
                    step: function(now, mx) {
                        //as the opacity of current_fs reduces to 0 - stored in "now"
                        //1. scale current_fs down to 80%
                        scale = 1 - (1 - now) * 0.2;
                        //2. bring next_fs from the right(50%)
                        left = (now * 50)+"%";
                        //3. increase opacity of next_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({
                    'transform': 'scale('+scale+')',
                    'position': 'absolute'
                });
                        next_fs.css({'left': left, 'opacity': opacity});
                    }, 
                    duration: 800, 
                    complete: function(){
                        current_fs.hide();
                        animating = false;
                    }, 
                    //this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });

            };
        });

        $(".previous").click(function(){
            if(animating) return false;
            animating = true;
            
            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();
            
            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
            
            //show the previous fieldset
            previous_fs.show(); 
            //hide the current fieldset with style
            current_fs.animate({opacity: 0}, {
                step: function(now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale previous_fs from 80% to 100%
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1-now) * 50)+"%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({'left': left});
                    previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
                }, 
                duration: 800, 
                complete: function(){
                    current_fs.hide();
                    animating = false;
                }, 
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });
        
        document.getElementById("btn-signup").addEventListener("click",(e)=>{
            e.preventDefault();
            var parametros = {
                nombre : Form.nombre.value,
                apellido : Form.apellido.value,
                usuario : Form.usuario.value,
                password : Form.password.value,
                passwordConf : Form.passwordConf.value,
                email : Form.email.value,
                captcha : grecaptcha.getResponse(),
                tipo : Form.tipo.value
            };
            $.ajax({
                url : './request/postRegister.php',
                data : parametros,
                type : 'POST',
                success : function(res) {
                console.log(res);
                if(res=="Disponible"){
                    Form.email.className="form-control is-valid";
                    document.getElementById("alertEmail").style="display:none";
                    errors=false;
                }else{
                    Form.email.className="form-control is-invalid";
                    document.getElementById("alertEmail").style="display:block";
                    errors=true;
                }
                },
                error : function(xhr, status) {
                    alert('Disculpe, existió un problema');
                },
                complete : function(xhr, status) {
                    //console.log('Petición realizada');
                }
            });
        });
        

    </script>
</body>
</html>